<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head::head(${project.getName()})">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main>
    <h1 th:text="${project.getName()}"  class="title"/>

   <div class="columns" hx-target="this" hx-swap="innerHTML" hx-trigger="load" th:hx-get="@{/projects/{projectId}/issues(projectId=${project.getId()})}">
       <progress class="progress is-small is-primary" max="100">15%</progress>
   </div>
</main>


<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>
